#container {
width : 740px;
height:200px;
margin-left : auto;
margin-right : auto;
margin-top : 20px;
background: url(/css/pics/coffey.jpg) no-repeat center center fixed;
background-size:cover;
}
#topbar {
    height:20px;
    width:740px;
    float:right;
    font-size:10px;
    font-family:Verdana;
    font-style:italic;
    padding:0px;
    background:#644C37;
    
}
#content
{
	float: left;
	width: 740px;
	margin: 0 0 0 20px;
}
#maincontent img{
    float:left;
}
#menu {
        float:left;
}
#menu ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#menu ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #989177;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#menu ul li:hover {
  background: #d8d4c8;
  color: #fff;
}
#menu ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#menu ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
#menu ul li ul li:hover { background: #666; }
#menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
a[href='#maincontent']{ display: none }